{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit Page:</h1>
    <form action="{% url 'edit' title=title %}" method="POST">
        {% csrf_token %}
        <div>
            <label>Page Title: {{ title }}</label>
        <div>
            <label>Edit Markdown Content for Page:</label>
            <div>
                <textarea name="editedText">{{ content }}</textarea>
            </div>
        </div>
        <input type="submit" value="Save Page">
    </form>
{% endblock %}