{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page:</h1>
    <form action="{% url 'new' %}" method="POST">
        {% csrf_token %}
        <div>
            <label>Enter Page Title:</label>
            <input type="text" name="title" placeholder="Enter Title">
        </div>
        <div>
            <label>Enter Markdown Content for Page:</label>
            <div>
                <textarea name="entryText"></textarea>
            </div>
        </div>
        <input type="submit" value="Save Page">
    </form>
{% endblock %}