{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <div class="mb-3">
            <select autofocus class="form-control mx-auto w-auto"  name="symbol" placeholder="Input stock symbol" required>
                <option disabled selected>Choose stock</option>
                {% for stock in stockNames %}
                <option value="{{ stock.stock }}">{{ stock.stock.upper() }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" type="text" required>
        </div>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
