{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}

    <div class="description">
        <h3>Welcome!</h3>
        <p>This is the Inspiration Generator, a web-application which seeks to output specific inspirational quotes based on user-input and environmental conditions.
            Depending on the user's desired type and level of inspiration, the weather, and the day of the week, the Inspiration Generator will output a different response.
            Receive your own quote by responding to the prompts below and submitting your responses!
        </p>
    </div>
    <form class="main" action="/" method="post">
        <div class="mb-3">
            <h5>Occasion for Inspiration:</h5>
            <select autofocus class="form-control mx-auto w-auto" name="occasion" required>
                <option disabled selected>Select</option>
                <option value="exercising">Exercise</option>
                <option value="studying">Studying</option>
                <option value="work">Work</option>
                <option value="meaning">Seeking Meaning</option>
                <option value="eating">Hungry</option>
            </select>
        </div>
        <div class="mb-3">
            <h5>Level of Inspiration:</h5>
            <select autofocus class="form-control mx-auto w-auto"  name="level" required>
                <option disabled selected>Select</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>
        <div class="mb-3">
            <h5>Local Weather:</h5>
            <select autofocus class="form-control mx-auto w-auto"  name="weather" required>
                <option disabled selected>Select</option>
                <option value="clear">Clear Skies</option>
                <option value="cloudy">Cloudy</option>
                <option value="precipitating">Precipitating</option>
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Inspire me!</button>
    </form>

{% endblock %}
