.description {
    width: 50%;
    margin: auto;
}
.description p {
    padding-top: 15px;
}
.main {
    padding-top: 20px;
}
option {
    text-align: center;
}
.quote {
    margin-bottom: 40px;
    font-size: 25px;
}
select {
    text-align: center;
}